body {
    color: #000;
}

.blog-entry {
}
.blog-entry .desc {
    padding: 25px;
    min-height: 450px;
}
.blog-entry .blog-img img {
    max-width: none;
}
audio {
    width: 100%;
}

div.player-header,
div#list-screen div#list-screen-header {
    height: 55px;
}
div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    margin-top: 30px;
}
div#player-bottom div#volume-container img {
    display: block;
    float: left;
    margin-top: 30px;
}
.white {

}
div#list-screen div#list {
    overflow-y: auto;
}
div#single-song-player{
    margin-bottom: 30px;
}
.tx-powermail {
    padding-top: 20px;
}

/* Powermial */
.powermail__form_submit {
    margin-top: 15px;
}
.powermail label {
    display: none;
}
.powermail input[type=text],
.powermail input[type=email]{
    margin-bottom: 15px;
}
ul.parsley-errors-list {
    padding: 0;
}
ul.parsley-errors-list li {
    list-style: none;
    color: #ff0000;
    margin-left: 10px;
}

/* News */
.news-single .news-img-wrap a {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}