body {
    color: #000;
}

.blog-entry {
}
.blog-entry .desc {
    padding: 25px;
    min-height: 450px;
}
.blog-entry .blog-img img {
    max-width: none;
}
audio {
    width: 100%;
}

div.player-header,
div#list-screen div#list-screen-header {
    height: 55px;
}
div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    margin-top: 30px;
}
div#player-bottom div#volume-container img {
    display: block;
    float: left;
    margin-top: 30px;
}
.white {

}

/* Powermial */
.powermail__form_submit {
    margin-top: 15px;
}
.powermail label {
    display: none;
}
.powermail input[type=text],
.powermail input[type=email]{
    margin-bottom: 15px;
}
ul.parsley-errors-list {
    padding: 0;
}
ul.parsley-errors-list li {
    list-style: none;
    color: #ff0000;
    margin-left: 10px;
}