<div class="fh5co-footer">
    <f:cObject typoscriptObjectPath="lib.copyright" />
    <ul>
        <li><a title="Перейти в сообщество группы Наотрез в контакте" href="https://vk.com/naotrezzz" target="_blank"><i class="icon-vk"></i></a></li>
        <li><a title="Скоро будет, подожтите" href="#"><i class="icon-facebook2"></i></a></li>
        <li><a title="Скоро будет, подожтите" href="#"><i class="icon-twitter2"></i></a></li>
        <li><a title="Группа Наотрез в Инстаграм" href="https://www.instagram.com/naotrezzz/" target="_blank"><i class="icon-instagram"></i></a></li>
    </ul>
</div>


