<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">

		<!-- Amplitude Player -->
		<div id="amplitude-player">
			<!-- Left Side Player -->
			<f:render partial="Item/LeftSidePLayer" arguments="{item:item}" />
			<!-- Right Side Player -->
			<f:render partial="Item/RightSidePlayer" arguments="{_all}" />
		</div>

		<f:render partial="Item/AmplitudeJS" arguments="{_all}" />
		<f:render partial="Item/AmplitudeInit" arguments="{_all}" />

	</f:section>
</html>

