<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">

		<f:if condition="{settings.theme} == 'blue_playlist' ">
			<!-- Amplitude Player -->
			<div id="amplitude-player">
				<!-- Left Side Player -->
				<f:render partial="BluePlaylist/LeftSidePLayer" arguments="{item:item}" />
				<!-- Right Side Player -->
				<f:render partial="BluePlaylist/RightSidePlayer" arguments="{_all}" />

				<!-- Js script -->
				<f:render partial="BluePlaylist/AmplitudeJS" arguments="{items:items}" />
				<f:render partial="BluePlaylist/AmplitudeInit" />
			</div>
		</f:if>

		<f:if condition="{settings.theme} == 'flat_black' ">
			<div id="flat-black-player-container">
				<!-- List Screen -->
				<f:render partial="FlatBlack/ListScreen" arguments="{items:items}" />
				<!-- PLay Screen -->
				<f:render partial="FlatBlack/PlayerScreen" />
			</div>

			<!-- Js script -->
			<f:render partial="FlatBlack/Functions.html" arguments="{items:items}" />
		</f:if>

	</f:section>
</html>

