<div id="fh5co-page">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
        <f:render partial="Navigation" arguments="{_all}" />
        <f:render partial="Footer" arguments="{_all}" />
    </aside>

    <div id="fh5co-main">
        <f:if condition="{data.hide_content_class} == 1">
            <f:then>
                <f:render partial="Breadcrumb" arguments="{_all}" />
                <f:render section="section_content" />
                <f:cObject typoscriptObjectPath="lib.yaShare" />
            </f:then>
            <f:else>
                <div class="fh5co-narrow-content">
                    <f:render partial="Breadcrumb" arguments="{_all}" />
                    <f:render section="section_content" />
                    <f:cObject typoscriptObjectPath="lib.yaShare" />
                </div>
            </f:else>
        </f:if>
    </div>
</div>


