<div id="list-screen" class="slide-in-top">
    <div id="list-screen-header" class="hide-playlist">
        <img id="up-arrow" src="typo3conf/ext/t3dev_audioplayer/Resources/Public/flat-black/img/up.svg" />
        {f:translate(id:'hide_playlist')}
    </div>

    <div id="list">
        <f:for each="{items}" as="item" iteration="iterator">
            <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{iterator.index}">
            <span class="song-number-now-playing">
              <span class="number">{iterator.cycle}</span>
              <img class="now-playing" src="typo3conf/ext/t3dev_audioplayer/Resources/Public/flat-black/img/now-playing.svg"/>
            </span>
                <div class="song-meta-container">
                    <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="{iterator.index}"></span>
                    <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="{iterator.index}">
                    </span> - <span data-amplitude-song-info="album" data-amplitude-song-index="{iterator.index}"></span></span>
                </div>
                <span class="song-duration">
              {item.songDuration}
            <span>
            </div>
        </f:for>
    </div>

    <div id="list-screen-footer">
        <div id="list-screen-meta-container">
            <span data-amplitude-song-info="name" class="song-name"></span>
            <div class="song-artist-album">
                <span data-amplitude-song-info="artist"></span>
            </div>
        </div>
        <div class="list-controls">
            <div class="list-previous amplitude-prev"></div>
            <div class="list-play-pause amplitude-play-pause"></div>
            <div class="list-next amplitude-next"></div>
        </div>
    </div>
</div>